@model lab5.Models.Book

@{
    ViewData["Title"] = "Edit";
}
<link href="wwwroot/css/site.css" rel="stylesheet" type="text/css" />
<h1>Edit</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Genre</label>
                <input asp-for="genre" class="form-control" />
                <span asp-validation-for="genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Book Name</label>
                <input asp-for="bookName" class="form-control" />
                <span asp-validation-for="bookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Description</label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Author</label>
                <input asp-for="author" class="form-control" />
                <span asp-validation-for="author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
